/* INFORMAÇÕES */

.my-instruction {
    margin-left: 5px;
    margin-right: 5px;
}

.my-hide {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: small;
}

.my-instruction:hover+.my-hide {
    display: block;
}

.hero-bory-padding-top {
    padding-top: 15px;
}

.adjustment-padding-top {
    padding-top: 6px;
}


/* /INFORMAÇÕES */

.my-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-label {
    text-align: center;
}

.my-info {
    color: #363636 !important;
    border-color: #b5b5b5 !important;
}

.my-info:hover {
    color: #fff !important;
}


/* RETIRA A MARGEM DO NAV */

.remove-margin-bottom {
    margin-bottom: 0 !important;
}


/* TAMANHO MAXIMO DAS COLUNAS */

.is-width-400px {
    max-width: 400px !important;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* LISTA */

.list {
    max-height: 0;
    overflow: hidden;
    animation: closelist 1s ease-in-out forwards;
}

@keyframes closelist {
    from {
        max-height: 500px;
    }
    to {
        max-height: 0;
    }
}

.open-list {
    animation: openlist .5s ease-in-out forwards;
}

@keyframes openlist {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
}